# look here for info: https://docs.bazel.build/versions/master/guide.html

startup --output_user_root=C:/temp/bazel2
query --incompatible_disable_deprecated_attr_params=false # because protobuf is v jank
build --incompatible_disable_deprecated_attr_params=false # because protobuf is v jank
