build:asan --define LIGHTSTEP_CONFIG_ASAN=1
build:asan --copt -fsanitize=address
build:asan --linkopt -fsanitize=address


build:tsan --define LIGHTSTEP_CONFIG_TSAN=1
build:tsan --copt -fsanitize=thread
build:tsan --linkopt -fsanitize=thread

# Needed due to https://github.com/libevent/libevent/issues/777
build:tsan --copt -DEVENT__DISABLE_DEBUG_MODE

build --copt -DPYTHON_BRIDGE_TRACER_MODULE="\"lightstep_native\""

# Fortifying the sources will lead to requiring glibc >= 2.15, so we turn fortifying off
# See https://stackoverflow.com/a/20953117/4447365
build:portable_glibc --copt -U_FORTIFY_SOURCE
build:portable_glibc --copt -D_FORTIFY_SOURCE=0

# Work around to a bug with the gold linker where it doesn't work properly with wrapping and symbol
# versioning
# See https://sourceware.org/bugzilla/show_bug.cgi?id=22628
build:portable_glibc --nostart_end_lib
build:portable_glibc --linkopt -fuse-ld=bfd

build:portable_glibc --define LIGHTSTEP_PORTABLE_GLIBC=1

build:static_libcpp --linkopt -static-libstdc++
build:static_libcpp --linkopt -static-libgcc
