*.o
*.lo
*~
*.dSYM
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
Makefile.in
.deps
.libs
lt*.m4
libtool.m4
Makefile
config.log
config.status
libtool
Makefile
config.h
*.la
.dirstamp
stamp-h1
tracer_test
cppclient
flushproto_test
collector.grpc.pb.cc
collector.pb.cc
envoy_carrier.pb.cc
collector.grpc.pb.h
collector.pb.h
envoy_carrier.pb.h
proto.grpc.stamp
proto.stamp
test-driver
